.git
.gitignore
.github

venv
.venv
env
__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
.ipynb_checkpoints

data/raw
data/backups
data/raw/uploads
data/raw/statsbomb

*.pyc
*.pyo
*.pyd
*.log
*.tmp
*.zip
*.tar
*.gz

.env
.vscode
.DS_Store
README_old.md